@charset  "UTF-8";

:root {
        --fonte1: Verdana, Geneva, Tahoma, sans-serif;
        --fonte2: 'Passion One', cursive;
        --fonte3: 'Sriracha', cursive;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    display: block;
  
}

h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}